- @blogs.each do |blog|
  .content_post
    .content_post__delete
      - if user_signed_in? && current_user.id == blog.user_id
        = link_to '編集', "/blogs/#{blog.id}/edit", method: :get
    .content_post__delete
      - if user_signed_in? && current_user.id == blog.user_id
        = link_to '削除', "/blogs/#{blog.id}", method: :delete
    .content_post__title
      = simple_format(blog.title)
    .content_post__text
      = simple_format(blog.text)
  
